footer{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
 body{
     background-color: beige;
 }
a{
    align-items: center;
}
.img-thumbnail{
   height:50%;
   width:70%;
    
}
